/* FONTS */

@font-face {
  font-family: 'a_box';
  src: url('../assets/a_box.woff2') format('woff2'),
       url('../assets/a_box.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'evil_of_frankenstein';
  src: url('../assets/eviloffrankenstein.woff2') format('woff2'),
       url('../assets/eviloffrankenstein.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'djb_werecow_of_danville';
  src: url('../assets/djb_werecow_of_danville.woff2') format('woff2'),
       url('../assets/djb_werecow_of_danville.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* ANIMATIONS */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.025, 1.025, 1.025);
    word-spacing: 10px;
  }

  50% {
    transform: scale3d(1, 1, 1);
  }

  75% {
    transform: scale3d(1.05, 1.05, 1.05);
    word-spacing: 20px;
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  20%,
  60%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }


  40%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}


/* INTROPAGE STYLING */

.introPage{
  background-image: url('../assets/hangpersonLanding.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
 
}

.introTitle {
  color: white;
  font-family: 'evil_of_frankenstein', sans-serif;
  font-size: 15vmin;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px black, 
            2px 2px black, 
            3px 3px black,            
            4px 4px black, 
            5px 5px black,
            6px 6px black,
            7px 7px black,
            8px 8px black,
            9px 9px black,
            10px 0px black;
  animation: heartbeat 3s infinite;
  margin-bottom: 0%;
}

.introSubtitle{
  font-family: 'djb_werecow_of_danville', serif;
  font-size: 4vmin;
  color: white;
  margin-top: 2%;
  margin-bottom: 4%;
  letter-spacing: 0vw;
  mix-blend-mode: overlay;
}

.introButton{
  background: black;
  color: white;
  border: none;
  min-width: 6vw;
  min-height: 2.5vh;
  font-size:  1.25em;
  font-family: 'evil_of_frankenstein', sans-serif;
  margin-top: 1%;
  padding: 1%;
}

.introButton:hover{
  background: white;
  color: black;
  animation: shake .25s;
}


/* GAME STYLING */

.gamePage{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/hangpersonGame.svg');
  background-size: cover;
}

.hangLettersContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.letters{
  font-size: 6em;
  min-width: 1em;
  color: white;
  font-family: 'evil_of_frankenstein', sans-serif;
  margin-bottom: 3vh;
  line-height: 90%;
  text-align: center;
}

.alphabetLettersContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2%;
  max-width: 75%;
}

.alphabetClass{
  background: black;
  color: white;
  border: none;
  min-height: 4vh;
  min-width: 4vw;
  font-size: 1em;
  margin-right: .35%;
  margin-bottom: 1%;
  font-family: 'djb_werecow_of_danville', serif;
}

.alphabetClass:hover{
  background: white;
  color: black;
  animation-name: bob-float, bob;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}

.alphabetClass:disabled{
  background: green;
  color: white;
  opacity: 0.5;
  animation-play-state: paused;
  transform: translateY(-8px);
}

.alphabetClassWrong{
  color: white;
  background: red;
  opacity: 0.5;
  border: none;
  min-height: 4vh;
  min-width: 4vw;
  font-size: 1em;
  margin-right: .35%;
  margin-bottom: 1%;
  font-family: 'djb_werecow_of_danville', serif;
  animation: shake .25s;
  transform: translateY(2px);
}

.alphabetClassWrong:before{
  color: black;
  background: transparent;
  opacity: .75;
  z-index: -2;
  content: 'X';
  font-size: 2em;
  position: absolute;
  transform: translateY(1px);
}

.hangFigure{
  min-height: 33vh;
  max-height: 33vh;
  margin-top: -8%;
}

/* Scoreboard */
.scoreBoardContainer{
  position:absolute;
  top:0;
  right:2%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.scoreTitle{
color: white;
font-size:.75em;
font-family: 'djb_werecow_of_danville', serif;
margin-bottom: 0%;
}

.scoreResetButton{
  background: black;
  border: none;
  color: white;
  font-family: 'evil_of_frankenstein', sans-serif;
}

.scoreResetButton:hover{
  animation: heartbeat 2s infinite;
  background: white;
  color: black;
}

/* Media queries */

@media only screen and (max-width: 500px) {
    .introTitle{
      font-size: 12vmin;
    }
    
    .letters{
      font-size: 3em;
      min-width: 1em;
    }

    .alphabetLettersContainer{
      max-width: 95%;
    }
}
    